/*========== Font and typography ==========*/
/*========== Colors ==========*/
/* Change favorite color */
/*Purple 250 - Green 142 - Blue 230 - Pink 340*/
/* HSL color mode */
/* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
/*========== Font weight ==========*/
/*========== Margenes Bottom ==========*/
/*========== z index ==========*/
/* Font size for large devices */
/*@media screen and (min-width: 968px) {
    :root {
        $bigFontSize: 48px;
        $h1FontSize: 27px;
        $h2FontSize: 24px;
        $h3FontSize: 15px;
        $normalFontSize: 12px;
        $smallFontSize: 11px;
        $smallerFontSize: 10px;

}
}
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==================== GOOGLE FONTS ====================*/
/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 3rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: hsl(324deg, 96%, 98%);
  color: hsl(324deg, 8%, 45%);
}

h1, h2, h3, h4 {
  color: hsl(324deg, 8%, 15%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== ABOUT ====================*/
.about__img {
  width: 200px;
  border-radius: 6px;
  justify-self: center;
  align-self: center;
}

.about__description {
  text-align: center;
  margin-bottom: 40px;
  line-height: 20px;
}

.about__softskills {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.about__info-title {
  color: hsl(324deg, 8%, 15%);
  font-weight: 600;
}

.about__info-name {
  font-size: 12px;
}

.about__info-title, .about__info-name {
  display: block;
  text-align: center;
}

.about__buttons {
  display: flex;
  justify-content: center;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: 16px;
  margin-right: 16px;
}

.grid {
  display: grid;
  gap: 20px;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: hsl(324deg, 96%, 98%);
}

/*==================== QUALIFICATION ====================*/
/*==================== SERVICES ====================*/
/* Active Modal */
/*==================== PORTFOLIO ====================*/
/*==================== TESTIMONIAL ====================*/
/*==================== FOOTER ====================*/
/*==================== HOME ====================*/
.home {
  background-color: hsl(324deg, 12%, 46%);
}

.home__container {
  gap: 12px;
}

.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 42px;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 12px;
}

.home__social-icon {
  font-size: 20px;
  color: hsl(324deg, 90%, 19%);
}
.home__social-icon:hover {
  color: hsl(324deg, 92%, 85%);
}
.home__social-icon:hover .malt-color {
  fill: hsl(324deg, 92%, 85%);
}

.malt__icon {
  width: 19px;
}
.malt__icon .malt-color {
  fill: hsl(324deg, 90%, 19%);
}
.malt__icon .malt-fond {
  fill: hsl(324deg, 12%, 46%);
}

.home__img {
  position: relative;
  width: 200px;
}

.home__blob-img {
  width: 90%;
  height: 90%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  display: block;
}

.home__blob {
  width: 100%;
  height: 100%;
  display: block;
  fill: hsl(324deg, 90%, 14%);
}

.home__data {
  grid-column: 1/3;
}

.home__title {
  font-size: 32px;
}

.home__subtitle {
  font-size: 20px;
  color: hsl(324deg, 90%, 19%);
  font-weight: 500;
  margin-bottom: 12px;
}

.home__description {
  color: hsl(324deg, 8%, 15%);
  margin-bottom: 32px;
  line-height: 22px;
}

.home__scroll {
  display: none;
}

.home__scroll-button {
  color: hsl(324deg, 90%, 19%);
  transition: 0.3s;
}
.home__scroll-button:hover {
  transform: translateY(3px);
}

.home__scroll-mouse {
  font-size: 24px;
}

.home__scroll-name {
  font-size: 13px;
  color: hsl(324deg, 8%, 15%);
  font-weight: 500;
  margin-right: 4px;
}

.home__scroll-arrow {
  font-size: 15px;
}

/*==================== NAV ====================*/
.nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__toggle {
  color: hsl(324deg, 8%, 15%);
  font-weight: 500;
}

.nav__logo:hover, .nav__toggle:hover {
  color: hsl(324deg, 90%, 25%);
}

.nav__toggle {
  font-size: 13px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: hsl(324deg, 96%, 98%);
    padding: 24px 18px 48px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 18px 18px 0 0;
    transition: 0.3s;
  }
}
.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  color: hsl(324deg, 8%, 15%);
  font-weight: bold;
}

.nav__link:hover {
  color: hsl(324deg, 90%, 25%);
}

.nav__icon {
  font-size: 14px;
}

.nav__close {
  position: absolute;
  right: 15px;
  bottom: 6px;
  font-size: 18px;
  cursor: pointer;
  color: hsl(324deg, 90%, 19%);
}

.nav__close:hover {
  color: hsl(324deg, 90%, 25%);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */
.active-link {
  color: hsl(324deg, 90%, 19%);
}

/*change background header*/
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/*=================SCROLL UP========*/
.scrollup {
  position: fixed;
  right: 12px;
  bottom: -20%;
  background-color: hsl(324deg, 90%, 19%);
  opacity: 0.8;
  padding: 5px;
  border-radius: 3px;
  z-index: 10;
  transition: 0.4s;
}
.scrollup:hover {
  background-color: hsl(324deg, 90%, 25%);
}
.scrollup .scrollup__icon {
  color: #fff;
  font-size: 22px;
}

/*------------------------scroll show-------------------*/
.show-scroll {
  bottom: 60px;
}

/*==================== SKILLS ====================*/
.skills {
  background-color: hsl(324deg, 12%, 46%);
}
.skills .section__subtitle {
  color: hsl(324deg, 8%, 15%);
}

.skills__container {
  row-gap: 38px;
}

.skills__title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px;
}

.skills__content {
  background-color: hsl(324deg, 96%, 98%);
  padding: 25px 0;
  border-radius: 15px;
}

.skills__info, .skills__data, .skills__blob {
  display: grid;
}

.skills__info {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 15px;
}

.skills__data {
  justify-content: center;
  text-align: center;
}

.skills__blob {
  width: 80px;
  height: 100px;
  background-color: white;
  border-radius: 36px;
  place-items: center;
  margin-bottom: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
.skills__blob img {
  width: 40px;
}

.skills__name {
  font-size: 13px;
  margin-bottom: 3px;
}

.skills__subtitle {
  font-size: 10px;
}

/*Animation skills*/
.skills__blob:hover img {
  animation: bounce-skills 0.6s;
}

@keyframes bounce-skills {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translate(0);
  }
  60% {
    transform: translateY(-3px);
  }
  80% {
    transform: translate(0);
  }
}
/*==================== QUALIFICATION ====================*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.qualification__button {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.qualification__button:hover {
  color: hsl(324deg, 90%, 19%);
}

.qualification__icon {
  font-size: 22px;
  margin-right: 4px;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 18px;
}

.qualification__title {
  font-size: 15px;
  font-weight: 500;
}

.qualification__subtitle {
  display: inline-block;
  font-size: 13px;
  margin-bottom: 16px;
}

.qualification__calendar {
  font-size: 12px;
  color: hsl(324deg, 8%, 65%);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: hsl(324deg, 90%, 19%);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: hsl(324deg, 90%, 19%);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}

.qualification__button.qualification__active {
  color: hsl(324deg, 90%, 19%);
}

/*==================== PROJECT IN MIND ====================*/
.project {
  text-align: center;
  background-color: hsl(324deg, 12%, 46%);
}
.project .project__bg {
  padding-top: 36px;
}
.project .project__bg .project__title {
  font-size: 20px;
  margin-bottom: 12px;
}
.project .project__bg .project__description {
  margin-bottom: 24px;
}
.project .project__bg .project__title,
.project .project__bg .project__description {
  color: #fff;
}
.project .project__bg .project__img {
  width: 232px;
  justify-self: center;
  border-radius: 6px;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.18);
}

/*==================== PORTFOLIO ====================*/
.portfolio__content {
  background-color: hsl(324deg, 96%, 98%);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
  position: relative;
}
.portfolio__content .portfolio__img {
  width: 100%;
  transition: 0.4s;
}
.portfolio__content:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}
.portfolio__content:hover .portfolio__img {
  transform: scale(1.02);
}

.portfolio__data {
  padding: 18px;
}
.portfolio__data .portfolio__subtitle {
  font-size: 13px;
  color: hsl(324deg, 92%, 85%);
}
.portfolio__data .portfolio__title {
  font-size: 18px;
  color: hsl(324deg, 90%, 19%);
  margin: 32px 0;
}
.portfolio__data .portfolio__data-description {
  line-height: 20px;
  padding-bottom: 60px;
}
.portfolio__data .button {
  position: absolute;
  bottom: 20px;
}

/*==================== CONTACT ME ====================*/
.contact__container {
  row-gap: 36px;
}

.contact__information {
  display: flex;
  margin-bottom: 32px;
}

.contact__icon {
  font-size: 24px;
  color: hsl(324deg, 90%, 19%);
  margin-right: 12px;
}

.contact__title {
  font-size: 18px;
  font-weight: 500;
}

.contact__subtitle {
  font-size: 13px;
  color: hsl(324deg, 8%, 65%);
}
.contact__subtitle a {
  font-size: 13px;
  color: hsl(324deg, 8%, 65%);
}

.contact__content {
  background-color: hsl(324deg, 70%, 96%);
  border-radius: 6px;
  padding: 9px 12px 3px;
}

.contact__label {
  font-size: 12px;
  color: hsl(324deg, 8%, 15%);
  line-height: 15px;
}

.contact__input {
  width: 100%;
  background-color: hsl(324deg, 70%, 96%);
  color: hsl(324deg, 8%, 45%);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 3px 6px 6px 0;
}

.button--submit {
  border: none;
  outline: none;
  cursor: pointer;
}

/*==================== FOOTER ====================*/
.footer {
  padding-top: 24px;
}

.footer__container {
  row-gap: 42px;
}

.footer__bg {
  background-color: hsl(324deg, 12%, 46%);
  padding: 24px 0 36px;
}

.footer__title {
  font-size: 24px;
  margin-bottom: 4px;
}

.footer__subtitle {
  font-size: 13px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  white-space: nowrap;
}

.footer__link:hover {
  color: hsl(324deg, 92%, 85%);
}

.footer__socials {
  display: flex;
  align-items: center;
}

.footer__social {
  font-size: 20px;
  margin-right: 24px;
}
.footer__social:hover {
  color: hsl(324deg, 92%, 85%);
}
.footer__social:hover .malt-color {
  fill: hsl(324deg, 92%, 85%);
}

.footer__copy {
  font-size: 12px;
  text-align: center;
  color: #fff;
  margin-top: 48px;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: hsl(324deg, 90%, 19%);
}

/*==================== SERVICES ====================*/
.services {
  background-color: hsl(324deg, 12%, 46%);
}

.services__container {
  margin-left: auto;
  margin-right: auto;
}

.services__data {
  padding: 3rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
.services__data:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.services__icon,
.services__title {
  margin-bottom: 32px;
  color: hsl(324deg, 90%, 19%);
}

.services__icon {
  font-size: 3rem;
}

.services__title {
  font-size: 18px;
}

.services__description {
  margin-bottom: 64px;
}

.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}

.services__modal-content {
  position: relative;
  background-color: hsl(324deg, 96%, 98%);
  padding: 1.5rem;
  border-radius: 8px;
}

.services__modal-service {
  display: flex;
}

.services__modal-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}

.services__modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: hsl(324deg, 90%, 19%);
  cursor: pointer;
}

.services__button {
  cursor: pointer;
}

.service__modal-icon {
  color: hsl(324deg, 90%, 19%);
  margin-right: 4px;
}

/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: hsl(324deg, 90%, 19%);
  color: #ffffff;
  padding: 12px;
  border-radius: 6px;
  font-weight: 500;
}
.button:hover {
  background-color: hsl(324deg, 90%, 25%);
}

.button__icon {
  font-size: 15px;
  margin-left: 8px;
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.button--white {
  background-color: #fff;
  color: hsl(324deg, 90%, 19%);
}
.button--white:hover {
  background-color: #fff;
}

.section {
  padding: 24px 0 48px;
}

.section__title {
  font-size: 24px;
  color: hsl(324deg, 8%, 15%);
  margin-bottom: 8px;
}

.section__subtitle {
  display: block;
  font-size: 13px;
  margin-bottom: 48px;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
  .container {
    margin-left: 16px;
    margin-right: 16px;
  }
  .nav__menu {
    padding: 24px 3px 48px;
  }
  .nav__list {
    column-gap: 0;
  }
  .home__content {
    grid-template-columns: 0.25fr 3fr;
  }
  .home__img {
    width: 180px;
  }
  .skills__title {
    font-size: 15px;
  }
  .qualification__data {
    gap: 6px;
  }
  .project__img {
    width: 200px;
  }
}
/* For medium devices */
@media screen and (min-width: 568px) {
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    grid-column: initial;
  }
  .home__img {
    order: 1;
    justify-self: center;
  }
  .services__container {
    width: 80%;
  }
  .about__container,
.portfolio__container,
.project__container,
.contact__container,
.footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .qualification__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 72px 16px 24px;
  }
  .section__subtitle {
    margin-bottom: 48px;
  }
  .header {
    top: 0;
    bottom: initial;
  }
  .nav {
    padding: 0 16px;
  }
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 100%;
  }
  .services__container {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .nav {
    height: 4.5rem;
    column-gap: 16px;
  }
  .nav__icon,
.nav__close,
.nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 32px;
  }
  .nav__menu {
    margin-left: auto;
  }
  .home__container {
    row-gap: 5rem;
  }
  .home__content {
    padding-top: 5.5rem;
    column-gap: 32px;
  }
  .home__img {
    width: 270px;
  }
  .home__scroll {
    display: block;
  }
  .home__scroll-button {
    margin-left: 48px;
  }
  .about__container {
    column-gap: 5rem;
  }
  .about__img {
    width: 350px;
  }
  .about__description {
    text-align: initial;
  }
  .about__info {
    justify-content: space-between;
  }
  .about_buttons {
    justify-content: initial;
  }
  .qualification__tabs {
    justify-content: center;
  }
  .qualification__button {
    margin: 0 16px;
  }
  .qualification__sections {
    grid-template-columns: 0.5fr;
  }
  .project {
    text-align: initial;
  }
  .project__bg {
    background: none;
  }
  .project__container {
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }
  .project__data {
    padding-top: 0.8rem;
  }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__bg {
    padding: 3rem 0 3.5rem;
  }
  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }
  .footer__socials {
    justify-self: flex-end;
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .header,
.main,
.footer__container {
    padding: 0;
  }
  .nav__link {
    font-size: 15px;
  }
  .portfolio__container,
.services__container {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    max-width: 1200px;
  }
  .skills__container {
    gap: 5%;
    width: 90%;
    max-width: 1200px;
  }
  .section {
    padding: 112px 0 64px;
  }
  .home__img {
    width: 350px;
  }
  .home__social {
    transform: translateX(-6rem);
  }
  .home__social i {
    font-size: 26px;
  }
  .home__social .malt__icon {
    width: 25px;
  }
  .contact__form {
    width: 460px;
  }
  .contact__inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=main.css.map */