
/*==================== ABOUT ====================*/
.about__img{
    width: 200px;
    border-radius: 6px;
    justify-self: center;
    align-self: center;
}
.about__description{
    text-align: center;
    margin-bottom: $mb25;
    line-height: 20px;
}

.about__softskills{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: $mb25;
}
.about__info-title{
    color:$titleColor;
    font-weight: $fontSemiBold;
   
}
.about__info-name{
    font-size: $smallerFontSize;
}
.about__info-title, .about__info-name{
    display: block;
    text-align: center;
}
.about__buttons{
    display: flex;
    justify-content: center;
}