/*==================== FOOTER ====================*/
.footer{
    padding-top:24px;
}
.footer__container{
    row-gap: 42px;
}

.footer__bg{
    background-color :$secondColor;
    padding: 24px 0 36px;
}
.footer__title{
    font-size: $h1FontSize;
    margin-bottom: $mb025;

}
.footer__subtitle{
    font-size: $smallFontSize;
}
.footer__links{
   display: flex;
    flex-direction: column;
    row-gap: 18px;
    white-space: nowrap;
}
.footer__link:hover{
    color: $firstColorSecond;
    
}
.footer__socials{
    display: flex;
    align-items: center;
}
.footer__social{
    font-size: 20px;
    margin-right: $mb15;
    &:hover{
        color: $firstColorSecond;
        .malt-color {
			fill: $firstColorSecond;
		}
    }
}
.footer__copy{
    font-size: $smallerFontSize;
    text-align: center;
    color: #fff;
    margin-top: $mb3;
}
.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color:$firstColor;
}