/*==================== PROJECT IN MIND ====================*/
.project{
    text-align: center;
background-color: $secondColor;
    .project__bg{
        
        padding-top: 36px;

        .project__title{
            font-size: $h2FontSize;
            margin-bottom: $mb075;
        }

        .project__description{
            margin-bottom: $mb15;
            
        }

        .project__title,
        .project__description{
            color: #fff;
        }

        .project__img{
            width: 232px;
            justify-self: center;
            border-radius: 6px;
            box-shadow:10px 10px 10px 0px rgba(0,0,0,0.18) ;
        }  
    }
}
